<ul>
<li><%= @flat.name %></li>
<li><%= @flat.address %></li>
<li><%= @flat.description %></li>
<li><%= @flat.price_per_night %> euros per night</li>
<li><%= @flat.number_of_guests %> guests </li>
</ul>

<img src="<%= @flat.picture_URL %>" alt="flat">


